@inherits LayoutComponentBase

<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			@Body
		</div>
	</div>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider />
<style>
	body {
		background-image: url('images/background/bg2.png');
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}
</style>