
<SfDialog Width="286px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header>@Title Employee's Sanction</Header>
        <Content>
            <EditForm Model="ItemModel" OnValidSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Employee ID</label>
                            <input @bind="ItemModel.EmployeeId" class="form-control" disabled />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Sanction Date</label>
                            <InputDate @bind-Value="ItemModel.Date" class="form-control" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Punishment Date</label>
                            <InputDate @bind-Value="ItemModel.PunishmentDate" class="form-control" />
                        </div>
                        <div class="form-group mt-2">
                            <label class="form-label">Punishment</label>
                            <InputTextArea @bind-Value="ItemModel.Punishment" class="form-control" />
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Type</label>
                            @if (ItemModel.SanctionType != null)
                            {
                                string selected = ItemModel.SanctionType.Name;
                                <SfDropDownList TValue="string" TItem="SanctionType" Placeholder="@selected" DataSource="SanctionTypes">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="SanctionType" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TValue="string" TItem="SanctionType" Placeholder="Select Type" DataSource="SanctionTypes">
                                    <DropDownListFieldSettings Value="Id" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="SanctionType" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-end" type="submit">SAVE</button>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
 
</SfDialog>

@code {
    [Parameter] public Sanction ItemModel { get; set; } = new();
    [Parameter] public List<SanctionType> SanctionTypes { get; set; } = [];
    [Parameter] public EventCallback<Sanction> HandleSaveOperationEvent { get; set; }

    public string Title { get; set; } = "Add";
    private bool IsVisible { get; set; } = false;

    private async void Save()
    {
        if (ItemModel.SanctionTypeId <= 0)
        {
            await dialogService.AlertAsync("You need to provide type.", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(ItemModel);
            CloseDialog();
        }
    }

    public async Task OpenDialog()
    {
        IsVisible = true;
        await ForceLoadSanctionTypes();
        StateHasChanged();
    }
    async Task ForceLoadSanctionTypes() =>
    SanctionTypes = await sanctionTypeService.GetAll(Constants.SanctionTypeBaseUrl);

    public void CloseDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void OnValueChange(ChangeEventArgs<string, SanctionType> args)
    {
        ItemModel.SanctionTypeId = int.Parse(args.Value.ToString());
    }

    public void ChangeTitle(string title)
    {
        Title = title;
        StateHasChanged();
    }
}