
<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>
    <DialogTemplates>
        <Header>@Title Vacation Type</Header>
        <Content>
            <EditForm Model="VacationType" OnValidSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <InputText @bind-Value="VacationType.Name" class="form-control" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-end" type="submit">SAVE</button>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>
</SfDialog>

@code {
    [Parameter] public VacationType VacationType { get; set; } = new();
    [Parameter] public EventCallback<VacationType> HandleSaveOperationEvent { get; set; }

    private bool IsVisible { get; set; } = false;
    public string Title { get; set; } = "Add";

    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    private async void Save()
    {
        if (string.IsNullOrEmpty(VacationType.Name))
        {
            await dialogService.AlertAsync("You need to provide Vacation Type.", "Alert!");
        }
        else
        {
            await HandleSaveOperationEvent.InvokeAsync(VacationType);
            CloseDialog();
        }
    }

    public void CloseDialog()
    {
        IsVisible = false;
        StateHasChanged();
    }

    public void ChangeTitle(string title)
    {
        Title = title;
        StateHasChanged();
    }
}